body {
  background-color: #F3B18C;
  margin: 0;
  font-family: 'Finger Paint', cursive;
  font-style: normal;
  
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.title {
  font-family: 'Finger Paint', cursive;
  color: #0026ED;
}
.game {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 300px;
  
}
.Box{
margin-top: 20px;
width: 75px;
height: 75px;
background-color: #fff;
border: 10px solid #000; 
border-radius: 10px;
font-size: 35px;
color: red;
cursor: pointer;
transition: all 500ms;
}
.Box:Hover {
    background-color: #919191;
    color: white;
}
.Win {
  background: blue;
  transform: rotateY(180deg);
  color: #fff;
}

